<form name="user_details" method="post" action="process_update_userinfo.php">
  <table width="100%" height="4" border="0" cellspacing="0">
    <tr> 
      <td colspan="6" bgcolor="#d6dff5"><font face="Verdana, Arial, Helvetica, sans-serif" size="-1"><a href="leap.php">[ 
        Topic Leap ]</a> -- <a href="userson.php">[ Who's Online ]</a> -- <a href="myinfo.php">[ 
        Examine User ]</a></font> </td>
    </tr>
    <tr> 
      <td colspan="6"> <div align="center"><font face="Verdana, Arial, Helvetica, sans-serif" size="-1"><a href="show_userinfo.php?user_id={previous_user_id}">{previous_user_name}</a> 
          User {examine_user_id} of {total_users} <a href="show_userinfo.php?user_id={next_user_id}">{next_user_name}</a> 
          </font></div></td>
    </tr>
    <tr align="left"> 
      <td width="6%" valign="bottom" nowrap bgcolor="#FFFFFF"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif"><b>Name</b></font></td>
      <td width="5%" valign="bottom" nowrap bgcolor="#FFFFFF"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif"> 
        <input name="user_realname" type="text" value="{user_realname}" size="20">
        </font></td>
      <td width="45%" valign="bottom" nowrap bgcolor="#FFFFFF">&nbsp;</td>
      <td width="6%" valign="bottom" nowrap bgcolor="#FFFFFF"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif"><b>Age</b></font></td>
      <td width="6%" valign="bottom" nowrap bgcolor="#FFFFFF"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif"> 
        <input name="user_age" type="text" value="{user_age}" size=3 maxlength=3 >
        </font></td>
      <td width="32%" valign="bottom" nowrap bgcolor="#FFFFFF">&nbsp;</td>
    </tr>
    <tr align="left"> 
      <td valign="bottom" nowrap bgcolor="#FFFFFF"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif"><b>Email 
        </b></font></td>
      <td valign="bottom" nowrap bgcolor="#FFFFFF"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif"> 
        <input name="user_email" type="text" value="{user_email}" size="20">
        </font></td>
      <td valign="bottom" nowrap bgcolor="#FFFFFF">&nbsp;</td>
      <td valign="bottom" nowrap bgcolor="#FFFFFF"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif"><b>Sex</b></font></td>
      <td valign="bottom" nowrap bgcolor="#FFFFFF"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif"> 
        <select name="user_sex" id="user_sex">
          <option value="male" {sex_boy} >Boy</option>
          <option value="female" {sex_girl} >Girl</option>
          <option value="unknown" {sex_unknown} >Unknown</option>
        </select>
        </font></td>
      <td valign="bottom" nowrap bgcolor="#FFFFFF">&nbsp;</td>
    </tr>
    <tr align="left"> 
      <td valign="bottom" nowrap bgcolor="#FFFFFF"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif"><b>Motto</b> 
        </font></td>
      <td valign="bottom" nowrap bgcolor="#FFFFFF"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif"> 
        <input name="user_popname" type="text" value="{user_motto}" size="20">
        </font></td>
      <td valign="bottom" nowrap bgcolor="#FFFFFF">&nbsp;</td>
      <td valign="bottom" nowrap bgcolor="#FFFFFF"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif"><b>Location</b></font></td>
      <td valign="bottom" nowrap bgcolor="#FFFFFF"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif"> 
        <input name="user_town" type="text" value="{user_town}" size="20">
        </font></td>
      <td valign="bottom" nowrap bgcolor="#FFFFFF">&nbsp;</td>
    </tr>
    <tr align="left" valign="top" bgcolor="#D6DFF7"> 
      <td height="1" colspan="6"><font color="#D6DFF7" size="-1" face="Verdana, Arial, Helvetica, sans-serif">n</font></td>
    </tr>
    <tr align="left" valign="bottom"> 
      <td nowrap bgcolor="#FFFFFF"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif"><b>Last 
        Visit</b></font></td>
      <td nowrap bgcolor="#FFFFFF"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif">{last_visit}</font></td>
      <td nowrap bgcolor="#FFFFFF">&nbsp;</td>
      <td nowrap bgcolor="#FFFFFF"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif"><b>Fave 
        Film</b></font></td>
      <td nowrap bgcolor="#FFFFFF"><input name="user_film" type="text" value="{user_film}" size="20"></td>
      <td nowrap bgcolor="#FFFFFF">&nbsp;</td>
    </tr>
    <tr align="left" valign="bottom"> 
      <td nowrap bgcolor="#FFFFFF"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif"><b>Total 
        Visits</b></font></td>
      <td nowrap bgcolor="#FFFFFF"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif">{user_totalvisits}</font></td>
      <td nowrap bgcolor="#FFFFFF">&nbsp;</td>
      <td nowrap bgcolor="#FFFFFF"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif"><b>Fave 
        Band</b></font></td>
      <td nowrap bgcolor="#FFFFFF"><input name="user_band" type="text" value="{user_band}" size="20"></td>
      <td nowrap bgcolor="#FFFFFF">&nbsp;</td>
    </tr>
    <tr align="left" valign="bottom"> 
      <td nowrap bgcolor="#FFFFFF"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif"><b>Total 
        Posts</b></font></td>
      <td nowrap bgcolor="#FFFFFF"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif">{number_of_posts}</font></td>
      <td nowrap bgcolor="#FFFFFF">&nbsp;</td>
      <td nowrap bgcolor="#FFFFFF">&nbsp;</td>
      <td nowrap bgcolor="#FFFFFF">&nbsp;</td>
      <td nowrap bgcolor="#FFFFFF">&nbsp;</td>
    </tr>
    <tr> 
      <td colspan="3" valign="bottom" nowrap bgcolor="#D6DFF7"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif"><b>Further 
        Information</b></font></td>
      <td colspan="3" valign="bottom" nowrap bgcolor="#D6DFF7">&nbsp;</td>
    </tr>
    <tr valign="top" bordercolor="#D6DFF7"> 
      <td colspan="3" bgcolor="#FFFFFF"> <div align="left"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif"> 
          <textarea name="user_comment" cols="30" rows="8">{user_comment}</textarea>
          <br>
          </font></div></td>
      <td colspan="3" bgcolor="#FFFFFF"> <p align="left"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif"><b>Options</b></font></p>
        <p align="left"> <strong> 
          <input type="checkbox" name="pictures" value="true" {pictures_checked}>
          </strong> <font size="-1" face="Arial, Helvetica, sans-serif">Turn off 
          pictures</font><strong><br>
          </strong> <font size="-1" face="Arial, Helvetica, sans-serif"> 
          <input type="checkbox" name="backwards" value="true" {backwards_checked}>
          View latest posts first</font><br>
          <font size="-1" face="Arial, Helvetica, sans-serif">Show 
          <select name="show_post">
            <option value="5" {show_5}  >5</option>
            <option value="10" {show_10} >10</option>
            <option value="15" {show_15} >15</option>
            <option value="20" {show_20} >20</option>
            <option value="25" {show_25} >25</option>
            <option value="30" {show_30} >30</option>
            <option value="40" {show_40} >40</option>
            <option value="50" {show_50} >50</option>
            <option value="100" {show_100} >100</option>
            <option value="150" {show_150} >150</option>
            <option {value="255" show_all} >All</option>
          </select>
          posts per page<br>
          <a href="catchup.php">[ Mark all topics as read ]</a><br>
          <a href="change_password.php">[ Change Password</a></font><a href="xcz"> 
          ]</a></p>
        <p align="left">&nbsp;</p></td>
    </tr>
    <tr valign="top" bordercolor="#D6DFF7"> 
      <td colspan="3" bgcolor="#FFFFFF">&nbsp;</td>
      <td colspan="3" bgcolor="#FFFFFF"> <div align="right"> 
          <input type="submit" name="Submit" value="Update My Details">
        </div></td>
    </tr>
  </table>
</form>
<table width="100%" height="4" border="0" cellspacing="0">
  <tr>
    <td colspan="6" valign="bottom" nowrap bgcolor="#D6DFF7"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif"><b>Comments 
      From Other Users</b></font></td>
  </tr>
  <tr> 
    <form method="post" action="leave_user_comment.php">
      <td colspan="6" valign="bottom" nowrap><font size="-1" face="Verdana, Arial, Helvetica, sans-serif"><b>Leave 
        Comment</b></font> <input name="comment" type="text" id="comment" size="50" maxlength="100"> 
		<input name="user_id" type="hidden" id="user_id" value="{shown_user_id}" >
        <input name="Add" type="submit" id="Add" value="Submit"></td>
    </form>
  </tr>
  <!-- BEGIN CommentBlock -->
  <tr> 
    <td colspan="6" valign="bottom" nowrap><font size="-1" face="Verdana, Arial, Helvetica, sans-serif"><a href="show_userinfo.php?user_id={comment_from_id}"><b>{comment_user}</b></a> 
      {comment_text}</font></td>
  </tr>
  <!-- END CommentBlock -->
  <tr> 
    <td colspan="6" valign="bottom" nowrap><div align="right"><a href="delete_user_comments.php"><img src="images/xp/delete_msg.gif" border="0"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif"> 
        </font><font size="-1" face="Verdana, Arial, Helvetica, sans-serif">Delete 
        Comments</font></a> </div></td>
  </tr>
  
  <tr> 
    <td colspan="6" valign="bottom" nowrap bgcolor="#D6DFF7"> <font face="Verdana, Arial, Helvetica, sans-serif" size="-1"> 
      <a href="leap.php">[ Topic Leap ]</a> -- <a href="userson.php">[ Who's Online 
      ]</a> -- <a href="myinfo.php">[ Examine User ]</a></font> </td>
  </tr>
</table>
