
<form name="form" method="post" action="process_change_password.php">
  <div align="center"></div>
  <table width="100%" height="4" border="0" cellspacing="0">
  <tr> 
      <td valign="bottom" nowrap bgcolor="#D6DFF7"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif"><a href="leap.php">[ 
        Topic Leap ]</a> -- <a href="userson.php">[ Who's Online ]</a> -- <a href="myinfo.php">[ 
        Examine User ]</a></font> </td>
  </tr>
  <tr>
      <td valign="bottom" nowrap bgcolor="#FFFFFF">
<div align="center"><font color="#FF0000">{error_text} <br>
          </font></div>
        <table width="56%" border="0" align="center">
          <tr> 
            <td width="0" nowrap bgcolor="#D6DFF7"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif">Current 
              Password</font></td>
            <td width="0" nowrap> 
              <input name="current_password" type="password" size="50" maxlength="50">
            </td>
        </tr>
        <tr> 
            <td width="0" nowrap><font size="-1" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;</font></td>
            <td width="0" nowrap>&nbsp;</td>
        </tr>
        <tr> 
            <td width="0" nowrap bgcolor="#D6DFF7"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif">New 
              Password</font></td>
            <td width="0" nowrap> 
              <input name="new_password" type="password" size="50" maxlength="50">
            </td>
        </tr>
        <tr> 
            <td width="0" nowrap bgcolor="#D6DFF7"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif">New 
              Password <font size="-2">(again to confirm)</font></font></td>
            <td width="0" nowrap> 
              <input name="new_password2" type="password" size="50" maxlength="50">
            </td>
        </tr>
        <tr> 
            <td width="0" nowrap><font size="-1" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;</font></td>
            <td width="0" nowrap>&nbsp;</td>
        </tr>
        <tr> 
            <td width="0" nowrap>&nbsp;</td>  
            <td width="0" nowrap> 
              <div align="left">
                <input name="Submit" type="submit" id="Submit" value="Change Password">
                <font face="Verdana, Arial, Helvetica, sans-serif"><a href="show_userinfo.php?user_id={user_id}">[ 
                cancel ]</a></font> </div></td>
        </tr>
      </table>
        <br>
      </td>
  </tr>
  <tr> 
    <td valign="bottom" nowrap bgcolor="#D6DFF7"> <font face="Verdana, Arial, Helvetica, sans-serif" size="-1"> 
      <a href="leap.php">[ Topic Leap ]</a> -- <a href="userson.php">[ Who's Online 
      ]</a> -- <a href="myinfo.php">[ Examine User ]</a></font> </td>
  </tr>
</table>
 </form>
