<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
</head>
<body>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <td colspan="2" bgcolor="#d6dff5"><font
 face="Verdana, Arial, Helvetica, sans-serif" size="-1"> <a
 href="leap.php">[ Topic Leap ]</a> -- <a href="userson.php">[ Who's
Online ]</a> -- <a href="myinfo.php">[ Examine User ]</a></font></td>
    </tr>
    <form method="post" action="process_deltopic.php">
    <tr>
      <td width="77%">
      <p><font face="Verdana, Arial, Helvetica, sans-serif"><input
 name="section_id" type="hidden" value="{SECTION_ID}"> <input
 name="topic_id" type="hidden" value="{TOPIC_ID}"> <br>
      </font><font face="Verdana, Arial, Helvetica, sans-serif">{DESCRIPTION}</font></p>
      <p><font face="Verdana, Arial, Helvetica, sans-serif"> <br>
      <input type="submit" name="submit" value="Delete Topic"> <a
 href="section.php?section={SECTION_ID}">[ Cancel ]</a> </font></p>
      </td>
      <td width="23%" valign="top" nowrap="nowrap" bgcolor="#d6dff5">
      <p><img
 src="images/xp/ksysguard.png"  align="top" title="" alt="">
      <p><font face="Verdana, Arial, Helvetica, sans-serif"> This topic
containts <br>
{POST} comments.<br><br>
Really delete ? <input type="checkbox" name="confirm" vaule="yes"> </font></p>
      </td>
	  </form>
    </tr>
    <tr>
      <td colspan="2" bgcolor="#d6dff5"><font
 face="Verdana, Arial, Helvetica, sans-serif" size="-1"> <a
 href="leap.php">[ Topic Leap ]</a> -- <a href="userson.php">[ Who's
Online ]</a> -- <a href="myinfo.php">[ Examine User ]</a></font></td>
    </tr>
  </tbody>
</table>
</body>
</html>
