

<!-- BEGIN CommentBlock --> 
<table bgcolor=#006699 align="center"   border="0" width="100%" cellpadding="4" cellspacing="0">
    <tr> 
      
    <td bgcolor="#d6dff5"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif"> 
      <b>From:</b><font color=#FFFF00><b> </b></font>({user_moto}) <a href="show_userinfo.php?user_id={user_id}">{username}</a> 
      <br>
      <b>Date:</b><font color=#FFFF0><b> </b></font>{date} <br>
      <strong>{subject}</strong></font> </td>
    </tr>
  </table>
  <table  align="center"  border="0" width="100%"
         cellpadding="4" cellspacing="0">
    <tr> 	 
      <td width="100%"><font face="Verdana, Arial, Helvetica, sans-serif">{edit}<br><br></font></td> 
    </tr>
  </table>
  <!-- END CommentBlock --> 




