<!-- BEGIN CommentBlock --> 
<table bgcolor="#d6dff5" align="center"   border="0" width="100%" cellpadding="4" cellspacing="0">
    <tr> 
      <td width="2%"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif"> 
        <a href="alterpost.php?message_id={message_id}&&topic_id={topic_id}">
		<img src="images/xp/prop.gif" border="0" alt="edit message"><br>
        </a></font></td>
      <td width="81%"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif">
	  <b>From: </b>({user_moto}) 
	  <a href="show_userinfo.php?user_id={user_id}">{username}</a> 
        <br>
        <b>Date: </b>{date}
		<br>
      <strong>{subject}</strong></font> </td>
      
    <td width="17%"> <div align="right"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif">Select</font> 
        <input type="checkbox" name="MessChk[]" value="{message_id}">
      </div>
      <div align="right"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif"> 
        </font></div>
      </td>
    </tr>
  </table>
  <table  align="center"  border="0" width="100%"
         cellpadding="4" cellspacing="0">
    <tr> 
      <td width="100%"><font face="Verdana, Arial, Helvetica, sans-serif"> {edit}<br> 
        </font><br></td>
    </tr>
  </table>
  <!-- END CommentBlock --> 
