<div align="left"> 
  <form method="post" action="addpost.php">
    <font face="Verdana, Arial, Helvetica, sans-serif"><br>
    </font> 
	<input type="hidden" name="topic_id" value="{topic_id}">
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr> 
        <td> <p><font face="Verdana, Arial, Helvetica, sans-serif">Subject 
            <input type="text" maxlength="50" name="subject">
            </font><font face="Verdana, Arial, Helvetica, sans-serif"><br>
            <textarea name="comment" cols="55" rows="10" wrap="VIRTUAL"></textarea>
            <br>
            </font></p>
          <p><font face="Verdana, Arial, Helvetica, sans-serif"> 
            <input type="submit" name="submit" value="Add Comment">
            <a href="readtopic.php?section_id={section_id}&topic_id={topic_id}">[ 
            Cancel ]</a> <br>
            </font></p></td>
        <td valign="top" bgcolor="#d6dff5"> <p> <font face="Verdana, Arial, Helvetica, sans-serif"><img src="images/xp/help.gif" alt="Help Icon" width="32" height="32"> 
            Hints and Tips</font></p>
          <p><font size="-1" face="Verdana, Arial, Helvetica, sans-serif">{readonly_hint}You 
            can add <strong>pictures</strong>, formatting and <strong>web links</strong> 
            to your post using these commands.</font></p>
          <table width="100%" border="0">
            <tr> 
              <td nowrap> <p><font size="-2" face="Verdana, Arial, Helvetica, sans-serif">[PICTURE-]<em> 
                  address </em>[-PICTURE]</font></p>
                <p><font size="-2" face="Verdana, Arial, Helvetica, sans-serif">[WWW-] 
                  <em>address</em> [-WWW]</font></p>
		<p><font size="-2" face="Verdana, Arial, Helvetica, sans-serif">[I-] 
                  <em>text</em> [-I]</font></p> 
		<p><font size="-2" face="Verdana, Arial, Helvetica, sans-serif">[B-] 
                  <em>text</em> [-B]</font></p> 
                <p><font size="-2" face="Verdana, Arial, Helvetica, sans-serif">[ASCII-] 
                  <em>ascii art</em> [-ASCII]</font></p></td>
            </tr>
          </table>
          <p>
          <p>&nbsp;</p></td>
      </tr>
    </table>
    <font face="Verdana, Arial, Helvetica, sans-serif"> 
    <table bgcolor="#d6dff5" align="center" border="0" width="100%" cellpadding="4" cellspacing="0">
      <tbody>
        <tr> 
          <td><font size="+2" color="#000000" face="Verdana, Arial, Helvetica, sans-serif">	
            {reply text}</font> </td>
        </tr>
      </tbody>
    </table>
    <br>
    </font> 
  </form></div>
