<table border="0" width="100%">
    <tr>
        
    <td colspan="4" bgcolor="#d6dff5"><a
        href="section.php?section={section_id}"><font
        face="Verdana, Arial, Helvetica, sans-serif">[ return to section ]</font></a><font
        face="Verdana, Arial, Helvetica, sans-serif"> -- </font><a
        href="section.php?section_id=1"><font
        face="Verdana, Arial, Helvetica, sans-serif">[ return to the main menu 
      ]</font></a></td>
    </tr>
</table>
<div align="left">

<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td colspan="4">{messages}</td>
    </tr>
    <tr>
        
    <td colspan="4" bgcolor="#d6dff5"><a
        href="section.php?section={section_id}"><font
        face="Verdana, Arial, Helvetica, sans-serif">[ return to section ]</font></a><font
        face="Verdana, Arial, Helvetica, sans-serif"> -- </font><a
        href="section.php?section_id=1"><font
        face="Verdana, Arial, Helvetica, sans-serif">[ return to the main menu 
      ]</font></a></td>
    </tr>
</table>
