<table border="0" width="100%">
    <tr>
        
    <td colspan="4" bgcolor="#d6dff5"><a
        href="section.php?section={section_id}"><font
        face="Verdana, Arial, Helvetica, sans-serif">[ return to section ]</font></a><font
        face="Verdana, Arial, Helvetica, sans-serif"> -- </font><a
        href="section.php?section_id=1"><font
        face="Verdana, Arial, Helvetica, sans-serif">[ return to the main menu 
      ]</font></a><font
        face="Verdana, Arial, Helvetica, sans-serif"> -- </font><a
        href="post.php?topic_id={topic_id}"><font
        face="Verdana, Arial, Helvetica, sans-serif">[ add a comment ]</font></a><font
        face="Verdana, Arial, Helvetica, sans-serif">&nbsp; </font></td>
    </tr>
</table>
<div align="left">

<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td width="1" nowrap><font color="#FFFFFF"
        face="Verdana, Arial, Helvetica, sans-serif"><b><img
        src="images/xp/go-back.gif" alt="view earlier messages"
        width="20" height="20"></b></font><font
        face="Verdana, Arial, Helvetica, sans-serif">&nbsp; </font></td>
        <td colspan="3"><font
        face="Verdana, Arial, Helvetica, sans-serif"><b><img
        src="images/xp/go-forward.gif" alt="view more messages"
        align="right" hspace="0" width="20" height="20"></b></font><font
        face="Verdana, Arial, Helvetica, sans-serif">&nbsp; </font></td>
    </tr>
    <tr>
        <td colspan="4">{messages}</td>
    </tr>
    <tr>
        <td valign="top" width="1" nowrap><font color="#FFFFFF"
        face="Verdana, Arial, Helvetica, sans-serif"><b><img
        src="images/xp/go-back.gif" alt="view earlier messages"
        width="20" height="20"></b></font><font
        face="Verdana, Arial, Helvetica, sans-serif">&nbsp; </font></td>
        <td valign="top" colspan="3"><font
        face="Verdana, Arial, Helvetica, sans-serif"><b><img
        src="images/xp/go-forward.gif" alt="view more messages"
        align="right" hspace="0" width="20" height="20"></b></font><font
        face="Verdana, Arial, Helvetica, sans-serif">&nbsp; </font></td>
    </tr>
    
  <tr bgcolor="#d6dff5"> 
    <td colspan="4"><a
        href="section.php?section={section_id}"><font
        face="Verdana, Arial, Helvetica, sans-serif">[ return to section ]</font></a><font
        face="Verdana, Arial, Helvetica, sans-serif"> -- </font><a
        href="section.php?section_id=1"><font
        face="Verdana, Arial, Helvetica, sans-serif">[ return to the main menu 
      ]</font></a><font
        face="Verdana, Arial, Helvetica, sans-serif"> -- </font><a
        href="post.php?topic_id={topic_id}"><font
        face="Verdana, Arial, Helvetica, sans-serif">[ add a comment ]</font></a></td>
    </tr>
</table>
