<TABLE width="100%" border=0 cellspacing="0" cellpadding="0">
<TBODY> 
<TR> 
    <TD width="1"><A href="section.php?section={section_id}"><img src="images/xp/return.gif" width="102" height="41" alt="return to section" border="0"></A>
	</TD>
    <TD width="1">
	<a href="section.php?section_id=1"><img src="images/xp/mainmenu.gif" width="143" height="41" border="0" alt="main menu"></a>
	</TD>
    <TD width="1"> 
	<a href="post.php?topic_id={topic_id}"><img src="images/xp/post.gif" width="82" height="41" border="0" alt="post"></a>
	</TD>
    <TD><img src="images/xp/line.gif" width="100%" height="41"></TD>
  </TR>
</TBODY>

<div align="left">

<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td colspan="4">{messages}</td>
    </tr>
    <tr>
        <td colspan="4"><a
        href="section.php?section={section_id}"><font
        face="Verdana, Arial, Helvetica, sans-serif"><img src="images/xp/return.gif" border="0" alt="[ return to
        section ]"></font></a><font
        face="Verdana, Arial, Helvetica, sans-serif"> -- </font><a
        href="section.php?section_id=1"><font
        face="Verdana, Arial, Helvetica, sans-serif"><img src="images/xp/mainmenu.gif" border="0" alt="[ return to
        the main menu ]"></font></a><font
        face="Verdana, Arial, Helvetica, sans-serif"> -- </font><a
        href="post.php?topic_id={topic_id}"><font
        face="Verdana, Arial, Helvetica, sans-serif"><img src="images/xp/post.gif" border="0" alt="[ add a
        comment ]"></font></a><font
        face="Verdana, Arial, Helvetica, sans-serif"> </font></td>
    </tr>
</table>
