

<head>
</head>

<table width="100%">
  <tr> 
    <td  bgcolor="#d6dff5"> <font face="Verdana, Arial, Helvetica, sans-serif" size="-1"> 
      <a href="leap.php">[ Topic Leap ]</a> -- <a href="section.php?section_id=1">[ 
      Main Menu ]</a> -- <a href="myinfo.php">[ Examine User ]</a> </font> </td>
  </tr>
</table>
<p><font face="Verdana">Here are the nexus statistics from the last 30
days.&nbsp;</font><font size="-1" face="Verdana">&nbsp;</font></p>
<div align="center">
  <center>
  <table border="0" width="100%" height="261">
    <tr>
      <td width="50%" height="130" valign="top">
<p><font face="Verdana"><b>Most Active Users</b></font></p>
<div align="left"></div>
        <div align="center">
          <center>
<TABLE border=0 cellspacing=0>
  <TBODY>
    <TR bgColor=#d6dff5> 
      <TD align="center">
        <p align="center"><FONT face="Verdana" color=#000000><b>User</b></FONT></p>
      </TD>
      <TD align="center">
        <p align="center"><font color="#000000" face="Verdana"><b>Score</b></font></p>
      </TD>
    </TR>
    <!-- BEGIN PosterBlock -->
    <TR> 
      <TD align="center" bgcolor="#FFFFFF"> 
        <p align="center"> <A href="show_userinfo.php?user_id={user_id}"><font face="Verdana">{user_name}</font></A></p>
      </TD>
      <TD align="center" bgcolor="#D6DFF5"> 
        <p align="center"><font face="Verdana">{user_score}</font></p>
 </TD>
    </TR>
    <!-- END PosterBlock -->
  </TBODY>
</TABLE>
  
          </center>
        </div>
        <p>&nbsp;</td>
      <td width="50%" height="130" valign="top">
<p><font face="Verdana"><b>Most Popular Topics</b></font></p>
        <div align="center">
          <center>
<TABLE border=0 cellspacing=0>
  <TBODY>
    <TR bgColor=#d6dff5> 
      <TD align="center"><FONT face="Verdana" color=#000000><b>Topic</b></FONT></TD>
      <TD align="center"><font color="#000000" face="Verdana"><b>Score</b></font></TD>
    </TR>
    <!-- BEGIN TopicBlock -->
    <TR> 
      <TD align="center"><A href="readtopic.php?topic_id={topic_id}"><font face="Verdana">{topic_name}</font></A></TD>
      <TD align="center" bgcolor="#D6DFF5"> <font face="Verdana">{topic_score}</font> </TD>
    </TR>
   <!-- END TopicBlock -->

  </TBODY>
</TABLE>
          </center>
        </div>
        <p>&nbsp;</td>
    </tr>
    <tr>
      <td width="50%" height="131" valign="top"><p><font face="Verdana"><b>Most Popular
        Sections</b></font></p>
        <div align="center">
          <center>
<TABLE border=0 cellspacing=0>
  <TBODY>
    <TR bgColor=#d6dff5> 
      <TD align="center"><FONT face="Verdana" color=#000000><b>Section</b></FONT></TD>
      <TD align="center"><FONT face="Verdana" color=#000000><b>Score</b></FONT></TD>
    </TR>
    <!-- BEGIN SectionBlock -->
    <TR> 
      <TD align="center"><A href="section.php?section={section_id}"><font face="Verdana">{section_name}</font></A></TD>
      <TD align="center" bgcolor="#D6DFF5"> <font face="Verdana">{section_score}</font> </TD>
    </TR>
    <!-- END SectionBlock -->
  </TBODY>
</TABLE>
          </center>
        </div>
        <p>&nbsp;</td>
      <td width="50%" height="131" valign="top"><p><font face="Verdana"><b>Most Successful
        Moderators</b></font></p>
        <div align="center">
          <center>
<TABLE border=0 cellspacing=0>
  <TBODY>
    <TR bgColor=#d6dff5> 
      <TD align="center"><FONT face="Verdana" color=#000000><b>User</b></FONT></TD>
      <TD align="center"><font color="#000000" face="Verdana"><b>Score</b></font></TD>
    </TR>
    <!-- BEGIN ModBlock -->
    <TR> 
      <TD align="center"><A href="show_userinfo.php?user_id={mod_id}"><font face="Verdana">{mod_name}</font></A></TD>
      <TD align="center" bgcolor="#D6DFF5"> <font face="Verdana">{mod_score}</font> </TD>
    </TR>
   <!-- END ModBlock -->

  </TBODY>
</TABLE>
          </center>
        </div>
        <p>&nbsp;</td>
    </tr>
  </table>
  </center>
</div>
<table width="100%">
<tr>
    <td  bgcolor="#d6dff5"> <font face="Verdana, Arial, Helvetica, sans-serif" size="-1"> 
      <a href="leap.php">[ Topic Leap ]</a> -- <a href="section.php?section_id=1">[ 
      Main Menu ]</a> -- <a href="myinfo.php">[ Examine User ]</a> </font> </td>

</tr>
</table>


