<!-- BEGIN CommentBlock -->
<table bgcolor="#d6dff5" align="center"   border="0" width="100%" cellpadding="4" cellspacing="0">
    <tr> 
      <td><font size="-1" face="Verdana, Arial, Helvetica, sans-serif"> 
	  <b>From: </b>( Popname Hidden ) Author Hidden <br>
        <b>Date: </b>Unknown<br>
		<strong>{subject}</strong></font></td>
    </tr>
  </table>
  <table  align="center"  border="0" width="100%"
         cellpadding="4" cellspacing="0">
    <tr> 
      <td width="100%"><font face="Verdana, Arial, Helvetica, sans-serif">{edit}<br><br></font></td>
    </tr>
  </table>
  <!-- END CommentBlock --> 
