<!-- BEGIN CommentBlock --> 
<table bgcolor="#d6dff5" align="center"   border="0" width="100%" cellpadding="4" cellspacing="0">
    <tr> 
      
    <td width="2%"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif"> 
      <a href="alterpost.php?message_id={message_id}&&topic_id={topic_id}"> <img src="images/xp/prop.gif" border="0" alt="edit message"><br>
      </a></font></td>
      
    <td width="81%" ><font size="-1" face="Verdana, Arial, Helvetica, sans-serif">
      <b>Secret: </b>({user_moto}) <a href="myinfo.php?section_id={section_id}&&lookat={user_id}">{username}</a> 
      <br>
        <b>Date: </b>{date}
		<br>
      <b>{subject}</b></font></td>
      
    <td width="17%" bgcolor="#d6dff5"> 
      <div align="right"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif"><a href="delpost.php?message_id={message_id}&&topic_id={topic_id}"> 
        <img src="images/xp/delete.gif" border="0" alt="delete message"></a> 
        </font></div>
      </td>
    </tr>
  </table>
  <table  align="center"  border="0" width="100%"
         cellpadding="4" cellspacing="0">
    <tr> 
      <td width="100%"><font face="Verdana, Arial, Helvetica, sans-serif">
{edit}<br><br> 
        </font></td>
    </tr>
  </table>
  <!-- END CommentBlock --> 
