 <table width="100%" height="4" border="0" cellspacing="0">
  <tr> 
    <td colspan="6" bgcolor="#d6dff5"><font face="Verdana, Arial, Helvetica, sans-serif" size="-1"><a href="leap.php">[ 
      Topic Leap ]</a> -- <a href="userson.php">[ Who's Online ]</a> -- <a href="myinfo.php">[ 
      Examine User ]</a></font> </td>
  </tr>
  <tr> 
    <td colspan="6"> <div align="center"><font face="Verdana, Arial, Helvetica, sans-serif" size="-1"><a href="show_userinfo.php?user_id={previous_user_id}">{previous_user_name}</a> 
        User {examine_user_id} of {total_users} <a href="show_userinfo.php?user_id={next_user_id}">{next_user_name}</a> 
        </font></div></td>
  </tr>
  <tr align="left"> 
    <td width="6%" valign="bottom" nowrap bgcolor="#FFFFFF"> <div align="left"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif"><b>Name<br>
        Email <br>
        Motto</b> <br>
        </font></div></td>
    <td width="5%" valign="bottom" nowrap bgcolor="#FFFFFF"> <font size="-1" face="Verdana, Arial, Helvetica, sans-serif">{user_realname}<br>
      {user_email} <br>
      {user_motto} </font></td>
    <td width="45%" valign="bottom" nowrap bgcolor="#FFFFFF"> <div align="left"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif"><br>
        </font></div></td>
    <td width="6%" valign="bottom" nowrap bgcolor="#FFFFFF"> <p align="left"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif"><b>Age<br>
        Sex<br>
        Location<br>
        </b></font></p></td>
    <td width="6%" valign="bottom" nowrap bgcolor="#FFFFFF"> <font size="-1" face="Verdana, Arial, Helvetica, sans-serif">{user_age}<br>
      {user_sex}<br>
      {user_town}<b>&nbsp;</b></font></td>
    <td width="32%" valign="bottom" nowrap bgcolor="#FFFFFF"> <p align="left"><br>
      </p></td>
  </tr>
  <tr align="left" valign="top" bgcolor="#D6DFF7"> 
    <td height="1" colspan="6"><font color="#D6DFF7" size="-1" face="Verdana, Arial, Helvetica, sans-serif">n</font></td>
  </tr>
  <tr align="left" valign="bottom"> 
    <td nowrap bgcolor="#FFFFFF"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif"><b>Last 
      Visit<br>
      Total Visits<br>
      Total Posts&nbsp;</b></font></td>
    <td nowrap bgcolor="#FFFFFF"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif">{last_visit}<br>
      {user_totalvisits}<br>
      {number_of_posts}</font></td>
    <td nowrap bgcolor="#FFFFFF">&nbsp;</td>
    <td nowrap bgcolor="#FFFFFF"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif"><b>Fave 
      Film<br>
      Fave Band<br>
      &nbsp;</b></font></td>
    <td nowrap bgcolor="#FFFFFF"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif">{user_film}<br>
      {user_band}<br>
      &nbsp;</font></td>
    <td nowrap bgcolor="#FFFFFF">&nbsp;</td>
  </tr>
  <tr> 
    <td colspan="3" valign="bottom" nowrap bgcolor="#D6DFF7"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif"><b>Further 
      Information</b></font></td>
    <td colspan="3" valign="bottom" nowrap bgcolor="#D6DFF7">&nbsp;</td>
  </tr>
  <tr valign="top" bordercolor="#D6DFF7"> 
    <td colspan="3" bgcolor="#FFFFFF"> <div align="left"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif">{user_comment}<br>
        </font></div></td>
    <td colspan="3" bgcolor="#FFFFFF"> <p align="left"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif"><b>{moderated_title}</b>{moderated_links}<b>{Most_Recent_Post_in}</b> 
        {topic_link}</font><br>
      </p></td>
  </tr>
  <tr bgcolor="#D6DFF7"> 
    <td colspan="6" valign="bottom" nowrap><font size="-1" face="Verdana, Arial, Helvetica, sans-serif"><b>Comments 
      From Other Users</b></font></td>
  </tr>
  <tr> 
    <form method="post" action="leave_user_comment.php">
      <td colspan="6" valign="bottom" nowrap><font size="-1" face="Verdana, Arial, Helvetica, sans-serif"><b>Leave 
        Comment</b></font> <input name="comment" type="text" id="comment" size="50" maxlength="100"> 
		<input name="user_id" type="hidden" id="user_id" value="{shown_user_id}" >
        <input name="Add" type="submit" id="Add" value="Submit"></td>
    </form>
  </tr>
  <!-- BEGIN CommentBlock -->
  <tr> 
    <td colspan="6" valign="bottom" nowrap><font size="-1" face="Verdana, Arial, Helvetica, sans-serif"><a href="show_userinfo.php?user_id={comment_from_id}"><b>{comment_user}</b></a> 
      {comment_text}</font></td>
  </tr>
  <!-- END CommentBlock -->
  <tr>
    <td colspan="6" valign="bottom" nowrap>&nbsp;</td>
  </tr>
  
  <tr> 
    <td colspan="6" valign="bottom" nowrap bgcolor="#D6DFF7"> <font face="Verdana, Arial, Helvetica, sans-serif" size="-1"> 
      <a href="leap.php">[ Topic Leap ]</a> -- <a href="userson.php">[ Who's Online 
      ]</a> -- <a href="myinfo.php">[ Examine User ]</a></font> </td>
  </tr>
</table>
