<font size="-1">{num_of_users} currently using <b>nexus</b></font>
<DIV align=center>
<CENTER>
      <TABLE width="100%" border=0 cellspacing=0 cellpadding="0">
        <TBODY> 
        <TR bgColor=#d6dff5>
          <TD width="1%">&nbsp;</TD>
			<TD><FONT face="Verdana, Arial, Helvetica, sans-serif" color=#000000>User</FONT></TD>
			<TD><FONT face="Verdana, Arial, Helvetica, sans-serif" color=#000000>Motto</FONT></TD>
			<TD><FONT face="Verdana, Arial, Helvetica, sans-serif" color=#000000>Location</FONT></TD>
			<TD><FONT face="Verdana, Arial, Helvetica, sans-serif" color=#000000>Idle Time</FONT></TD></TR>
		  <!-- BEGIN UserBlock -->
		  <TR>
		  <TD width="1%"><A href="messages.php?sendtoid={user_id}">
		  <IMG alt="[ reply ]" src="images/xp/msg.gif" border="0"></A></TD>
	          <TD><A href="show_userinfo.php?user_id={user_id}">{user_name}</A></TD>
		  <TD>&nbsp;{user_popname}</TD>
	          <TD>&nbsp;{user_location}</TD>
	          <TD>&nbsp;{user_idle} </TD></TR>
		  <!-- END UserBlock -->
		  
	</TBODY></TABLE></center></DIV>
<a href="{php_self}"><img src="images/xp/reload.gif"  border="0"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif"> 
Update</font></a><font size="-1">&nbsp;</font><BR>


<table width="100%">
<tr>
    <td  bgcolor="#d6dff5"> <font face="Verdana, Arial, Helvetica, sans-serif" size="-1"> 
      <a href="leap.php">[ Topic Leap ]</a> -- <a href="section.php?section_id=1">[ 
      Main Menu ]</a> -- <a href="myinfo.php">[ Examine User ]</a> </font> </td>

</tr>
</table>


