<div class="navigationBar" width="100%">&nbsp;</div>
<h3>Almost Ready...</h3>
Your account needs to be approved before you can login, typically this takes less than an hour. 
You will recieve a welcome email as soon as your new account is ready. As well as telling you a little about <b>{BBS_NAME}</b> it'll remind you of what your username and password is. It's a good idea to keep a copy of this e-mail.
<br><br>
If you have any questions about {BBS_NAME} or even if you're just a bit bored feel free to pop me an email.<br>
<a href="mailto:{SYSOP_MAIL}">{SYSOP_NAME}</a><br>
<br>
<a href="index.html">[Click Here]</a> to return to the login screen
<br>
<div class="navigationBar" width="100%">&nbsp;</div>