<div class="navigationBar" width="100%">&nbsp;</div>
<h3>Account Ready</h3>
Your user account is all ready and waiting for you.<br> <br>
You should now recieve a welcome e-mail. As well as telling you a little about <b>{BBS_NAME}</b> it'll remind you of what your username and password is. It's a good idea to keep a copy of this e-mail.
<br><br>
If you have any questions about {BBS_NAME} or even if you're just a bit bored feel free to pop me an <a href="mailto:{SYSOP_MAIL}">e-mail</a><br>
<br>
<a href="index.html">[Click Here]</a> to return to the login screen
<br>
<div class="navigationBar" width="100%">&nbsp;</div>