<div class="navigationBar" width="100%">&nbsp;</div>
<div class="navigation">
{info_text}</div>
<br>
<form method="post" action="process_adduser.php">
  <table class ="navigationBar" border="0"  cellpadding="2" cellspacing="2">
    <tbody>
      <tr>
        <td >Username:<br>
        </td>
        <td class="navigationBar" ><input maxlength="50" size="30"
 name="username"><br>
        </td>
      </tr>
      <tr>
        <td >Real name:<br>
        </td>
        <td class="navigationBar" ><input maxlength="50" size="30"
 name="realname"><br>
        </td>
      </tr>
      <tr>
        <td >E-Mail address:<br>
        </td>
        <td  class="navigationBar"><input maxlength="50" size="30"
 name="email"> </td>
      </tr>
      <tr>
        <td >Hide my e-mail address from
other users:</td>
        <td  class="navigationBar"><input checked="checked"
 name="hideemail" value="1" type="radio">Yes &nbsp; <input
 name="hideemail" value="0" type="radio">No</td>
      </tr>
      <tr>
        <td >Password:<br>
        </td>
        <td class="navigationBar" ><input maxlength="50" size="30"
 name="password" type="password"> </td>
      </tr>
      <tr>
        <td >Confirm password:<br>
        </td>
        <td class="navigationBar" ><input maxlength="50" size="30"
 name="password_confirm" type="password"> </td>
      </tr>
    </tbody>
  </table>
<div class="navigation">{BBS_NAME} is only open to users of {BBS_AGE} years and over.<br>
I confirm that I am at least {BBS_AGE} years old.&nbsp<input
 name="age_confirm" value="1" type="checkbox"></div><br>
  <input name="Submit" value="Submit" type="submit">&nbsp;&nbsp;
<a href="index.html">[
Cancel ]</a></form>
<div class="navigationBar" width="100%">&nbsp;</div>

