<table width="100%">
  <tr> 
    <td  bgcolor="#d6dff5"> <font face="Verdana, Arial, Helvetica, sans-serif" size="-1"> 
      <a href="leap.php">[ Topic Leap ]</a> -- <a href="section.php?section_id=1">[ 
      Main Menu ]</a> -- <a href="myinfo.php">[ Examine User ]</a> </font> </td>
  </tr>
</table>

<form name="form1" method="post" action="process_adduser.php">
  <table width="10%" border="0"  cellpadding="5" cellspacing="0">
    <tr> 
      <th valign="top" nowrap><font face="Verdana, Arial, Helvetica, sans-serif">Username</font></th>
      <td valign="top"> <font face="Verdana, Arial, Helvetica, sans-serif"> 
        <input name="username" type="text" id="username" size="50" maxlength="50">
        </font></td>
    </tr>
    <tr> 
      <th valign="top" nowrap><font face="Verdana, Arial, Helvetica, sans-serif">Real 
        name</font></th>
      <td valign="top"><font face="Verdana, Arial, Helvetica, sans-serif"> 
        <input name="realname" type="text" id="realname2" size="50" maxlength="50">
        </font></td>
    </tr>
    <tr> 
      <th valign="top" nowrap><font face="Verdana, Arial, Helvetica, sans-serif">Password</font></th>
      <td valign="top"><font face="Verdana, Arial, Helvetica, sans-serif"> 
        <input name="password" type="text" id="password2" size="50" maxlength="50">
        <input name="random" type="checkbox" id="random2" value="yes">
        <font size="-1">generate random password</font></font></td>
    </tr>
    <tr> 
      <th valign="top" nowrap><font face="Verdana, Arial, Helvetica, sans-serif">Email</font></th>
      <td valign="top"><font face="Verdana, Arial, Helvetica, sans-serif"> 
        <input name="email" type="text" id="email2" size="50" maxlength="50">
        <input name="welcome" type="checkbox" id="welcome2" value="yes" checked>
        <font size="-1">send welcome emal</font></font></td>
    </tr>
    <tr> 
      <th valign="top" nowrap>&nbsp;</th>
      <td valign="top">&nbsp;</td>
    </tr>
    <tr> 
      <th valign="top" nowrap><font face="Verdana, Arial, Helvetica, sans-serif"> 
        <input name="Submit" type="submit" id="Submit2" value="Add User">
        </font></th>
      <td valign="top"><div align="left"><font face="Verdana, Arial, Helvetica, sans-serif"> 
          [ cancel ]</font></div></td>
    </tr>
  </table>
</form>
<table width="100%">
  <tr> 
    <td  bgcolor="#d6dff5"> <font face="Verdana, Arial, Helvetica, sans-serif" size="-1"> 
      <a href="leap.php">[ Topic Leap ]</a> -- <a href="section.php?section_id=1">[ 
      Main Menu ]</a> -- <a href="myinfo.php">[ Examine User ]</a> </font> </td>
  </tr>
</table>
