<table width="100%">
  <tr> 
    <td  bgcolor="#d6dff5"> 
      <a href="leap.php">[ Topic Leap ]</a> -- <a href="section.php?section_id=1">[ 
      Main Menu ]</a> -- <a href="myinfo.php">[ Examine User ]</a> </td>
  </tr>
</table>

<form name="form1" method="post" action="process_adduser.php">
  <table width="10%" border="0"  cellpadding="5" cellspacing="0">
    <tr> 
      <th valign="top" nowrap>Username</th>
      <td valign="top">  
        <input name="username" type="text" id="username" size="50" maxlength="50">
        </td>
    </tr>
    <tr> 
      <th valign="top" nowrap>Real 
        name</th>
      <td valign="top"> 
        <input name="realname" type="text" id="realname2" size="50" maxlength="50">
        </td>
    </tr>
    <tr> 
      <th valign="top" nowrap>Password</th>
      <td valign="top"> 
        <input name="password" type="text" id="password2" size="50" maxlength="50">
        <input name="random" type="checkbox" id="random2" value="yes">
        generate random password</td>
    </tr>
    <tr> 
      <th valign="top" nowrap>Email</th>
      <td valign="top"> 
        <input name="email" type="text" id="email2" size="50" maxlength="50">
        <input name="welcome" type="checkbox" id="welcome2" value="yes" checked>
        send welcome email</td>
    </tr>
    <tr> 
      <th valign="top" nowrap>&nbsp;</th>
      <td valign="top">&nbsp;</td>
    </tr>
    <tr> 
      <th valign="top" nowrap> 
        <input name="Submit" type="submit" id="Submit2" value="Add User">
        </th>
      <td valign="top"><div align="left"> 
          [ cancel ]</div></td>
    </tr>
  </table>
</form>
<table width="100%">
  <tr> 
    <td  bgcolor="#d6dff5">  
      <a href="leap.php">[ Topic Leap ]</a> -- <a href="section.php?section_id=1">[ 
      Main Menu ]</a> -- <a href="myinfo.php">[ Examine User ]</a> </td>
  </tr>
</table>
