  <form name="user_details" method="post" action="process_update_userinfo.php">
  <table width="100%" height="4" border="0" cellspacing="0">
    <tr> 
      <td colspan="6"> <div align="center" class="navigation"><a href="show_userinfo.php?user_id={previous_user_id}">{previous_user_name}</a> 
          User {examine_user_id} of {total_users} <a href="show_userinfo.php?user_id={next_user_id}">{next_user_name}</a> 
        </div></td>
    </tr>
    <tr align="left"> 
      <td width="6%" valign="bottom" nowrap ><b>Name</b></td>
      <td width="5%" valign="bottom" nowrap > <input name="user_realname" type="text" value="{user_realname}" size="20" maxlength="50">
      </td>
      <td width="45%" valign="bottom" nowrap >&nbsp;</td>
      <td width="6%" valign="bottom" nowrap ><b>Age</b></td>
      <td width="6%" valign="bottom" nowrap > <input name="user_age" type="text" value="{user_age}" size=3 maxlength=3 >
      </td>
      <td width="32%" valign="bottom" nowrap >&nbsp;</td>
    </tr>
    <tr align="left"> 
      <td valign="bottom" nowrap ><b>Email </b></td>
      <td valign="bottom" nowrap > <input name="user_email" type="text" value="{user_email}" size="20" maxlength="50">
      </td>
      <td valign="bottom" nowrap >&nbsp;</td>
      <td valign="bottom" nowrap ><b>Sex</b></td>
      <td valign="bottom" nowrap > <select name="user_sex" id="user_sex">
          <option value="male" {sex_boy} >Boy</option>
          <option value="female" {sex_girl} >Girl</option>
          <option value="unknown" {sex_unknown} >Unknown</option>
        </select> </td>
      <td valign="bottom" nowrap  >&nbsp;</td>
    </tr>
    <tr align="left"> 
      <td valign="bottom" nowrap  ><b>Motto</b> </td>
      <td valign="bottom" nowrap  > <input name="user_popname" type="text" value="{user_motto}" size="20" maxlength="50">
      </td>
      <td valign="bottom" nowrap  >&nbsp;</td>
      <td valign="bottom" nowrap  ><b>Location</b></td>
      <td valign="bottom" nowrap  > <input name="user_town" type="text" value="{user_town}" size="20" maxlength="50">
      </td>
      <td valign="bottom" nowrap  >&nbsp;</td>
    </tr>
    <tr align="left" valign="top" class="navigationBar"> 
      <td height="1" colspan="6">&nbsp;</td>
    </tr>
    <tr align="left" valign="bottom"> 
      <td nowrap  ><b>Last Visit</b></td>
      <td nowrap  >{last_visit}</td>
      <td nowrap  >&nbsp;</td>
      <td nowrap  ><b>Fave Film</b></td>
      <td nowrap  ><input name="user_film" type="text" value="{user_film}" size="20" maxlength="50"></td>
      <td nowrap  >&nbsp;</td>
    </tr>
    <tr align="left" valign="bottom"> 
      <td nowrap  ><b>Total Visits</b></td>
      <td nowrap  >{user_totalvisits}</td>
      <td nowrap  >&nbsp;</td>
      <td nowrap  ><b>Fave Band</b></td>
      <td nowrap  ><input name="user_band" type="text" value="{user_band}" size="20" maxlength="50"></td>
      <td nowrap  >&nbsp;</td>
    </tr>
    <tr align="left" valign="bottom"> 
      <td nowrap  ><b>Total Posts</b></td>
      <td nowrap  >{number_of_posts}</td>
      <td nowrap  >&nbsp;</td>
      <td nowrap  >&nbsp;</td>
      <td nowrap  >&nbsp;</td>
      <td nowrap  >&nbsp;</td>
    </tr>
    <tr class="navigationBar"> 
      <td colspan="3" valign="bottom" nowrap ><b>Further Information</b></td>
      <td colspan="3" valign="bottom" nowrap >&nbsp;</td>
    </tr>
    <tr valign="top" > 
      <td colspan="3" > <div align="left"> 
          <textarea name="user_comment" cols="30" rows="8">{user_comment}</textarea>
          <br>
        </div></td>
      <td colspan="3" > <p align="left"><b>Options</b></p>
        <p align="left"> <strong> 
	  <input type="checkbox" name="hideemail" value="true" {hideemail_checked}>
          </strong> Keep my e-mail address private<strong><br>
          <input type="checkbox" name="pictures" value="true" {pictures_checked}>
          </strong> Turn off pictures<strong><br>
          </strong> 
          <input type="checkbox" name="backwards" value="true" {backwards_checked}>
          View latest posts first<br>
          Show 
          <select name="show_post">
            <option value="5" {show_5}  >5</option>
            <option value="10" {show_10} >10</option>
            <option value="15" {show_15} >15</option>
            <option value="20" {show_20} >20</option>
            <option value="25" {show_25} >25</option>
            <option value="30" {show_30} >30</option>
            <option value="40" {show_40} >40</option>
            <option value="50" {show_50} >50</option>
            <option value="100" {show_100} >100</option>
            <option value="150" {show_150} >150</option>
            <option value="255" {show_all} >All</option>
          </select>
          posts per page<br>
          <a href="catchup.php">[ Mark all topics as read ]</a><br>
          <a href="change_password.php">[ Change Password ]</a></p>
        <p align="left">&nbsp;</p></td>
    </tr>
    <tr valign="top" > 
      <td colspan="3"  >&nbsp;</td>
      <td colspan="3"  > <div align="right"> 
          <input type="submit" name="Submit" value="Update My Details">
        </div></td>
    </tr>
  </table>
</form>
<table width="100%" height="4" border="0" cellspacing="0">
  <tr>
    <td colspan="6" valign="bottom" nowrap class="navigationBar" ><b>Comments From 
      Other Users</b></td>
  </tr>
  <tr> 
    <form method="post" action="leave_user_comment.php">
      <td colspan="6" valign="bottom" nowrap><b>Leave Comment</b> 
        <input name="comment" type="text" id="comment" size="50" maxlength="100"> 
		<input name="user_id" type="hidden" id="user_id" value="{shown_user_id}" >
        <input name="Add" type="submit" id="Add" value="Submit"></td>
    </form>
  </tr>
  <!-- BEGIN CommentBlock -->
  <tr> 
    <td colspan="6" valign="bottom" nowrap><a href="show_userinfo.php?user_id={comment_from_id}"><b>{comment_user}</b></a> 
      {comment_text}</td>
  </tr>
  <!-- END CommentBlock -->
  <tr> 
    <td colspan="6" valign="bottom" nowrap><div align="right"><a href="delete_user_comments.php"><img src="images/crystal/delete_msg.gif" border="0"> 
        Delete Comments</a> </div></td>
  </tr>
</table>
