  
<form name="form" method="post" action="process_change_password.php">
  <table width="100%" height="4" border="0" cellspacing="0">
    <tr> 
      <td valign="bottom" nowrap class="navigationBar" ><a href="leap.php">[ Topic 
        Leap ]</a> -- <a href="userson.php">[ Who's Online ]</a> -- <a href="myinfo.php">[ 
        Examine User ]</a> </td>
  </tr>
  <tr>
      <td valign="bottom" nowrap >
<div align="center">{error_text} <br>
        </div>
        <table width="56%" border="0" align="center">
          <tr> 
            <td width="0" nowrap >Current Password</td>
            <td width="0" nowrap> 
              <input name="current_password" type="password" size="50" maxlength="50">
            </td>
        </tr>
        <tr> 
            <td width="0" nowrap>&nbsp;</td>
            <td width="0" nowrap>&nbsp;</td>
        </tr>
        <tr> 
            <td width="0" nowrap >New Password</td>
            <td width="0" nowrap> 
              <input name="new_password" type="password" size="50" maxlength="50">
            </td>
        </tr>
        <tr> 
            <td width="0" nowrap>New Password (again to confirm)</td>
            <td width="0" nowrap> 
              <input name="new_password2" type="password" size="50" maxlength="50">
            </td>
        </tr>
        <tr> 
            <td width="0" nowrap>&nbsp;</td>
            <td width="0" nowrap>&nbsp;</td>
        </tr>
        <tr> 
            <td width="0" nowrap>&nbsp;</td>  
            <td width="0" nowrap> 
              <div align="left">
                <input name="Submit" type="submit" id="Submit" value="Change Password">
                <a href="show_userinfo.php?user_id={user_id}">[ cancel ]</a> </div></td>
        </tr>
      </table>
        <br>
      </td>
  </tr>
  <tr> 
      <td valign="bottom" nowrap class="navigationBar" > <a href="leap.php">[ 
        Topic Leap ]</a> -- <a href="userson.php">[ Who's Online ]</a> -- <a href="myinfo.php">[ 
        Examine User ]</a> </td>
  </tr>
</table>
 </form>
