<div  class="navigation" >{error_text} </div>
<br />
<form name="form" method="post" action="process_change_password.php">
<table border="0">
<tbody>
<tr class="navigation">

	<td style="white-space: nowrap;" width="0">
		Current password:
	</td>
	
	<td width="0" nowrap="nowrap"> 
		<input name="current_password" type="password" size="50" maxlength="50"> 
	</td>
</tr>
	
<tr class="navigationBar">

	<td style="white-space: nowrap;" width="0">
		New password:
	</td>
	
	<td width="0" nowrap="nowrap"> 
		<input name="new_password" type="password" size="50" maxlength="50"> 
	</td>
	
</tr>
	
<tr class="navigationBar">
	
	<td style="white-space: nowrap;" width="0">
		Confirm new password:
	</td>
	
	<td width="0" nowrap="nowrap"> 
		<input name="new_password2" type="password" size="50" maxlength="50"> 
	</td>
	
</tr>
	
<tr>
	<td style="white-space: nowrap;" width="0">
		&nbsp;
	</td>
	
	<td width="0" nowrap="nowrap">
		&nbsp;
	</td>
	

</tbody>
</table>

<input name="Submit" type="submit" id="Submit" value="Change Password"> 
<a href="show_userinfo.php?user_id={user_id}">[ Cancel ]</a>
<br>

