<applet code=IRCApplet.class archive="irc/irc.jar,irc/pixx.jar" width="100%" height="70%">
<param name="CABINETS" value="irc/irc.cab,irc/securedirc.cab,irc/pixx.cab">
<param name="nick" value="{UserName}">
<param name="alternatenick" value="{AltUserName}">
<param name="name" value="{RealName}">
<param name="host" value="irc.efnet.net">
<param name="gui" value="pixx">
<param name="pixx:showconnect" value="false">
<param name="pixx:showchanlist" value="false">
<param name="pixx:showabout" value="false">
<param name="pixx:showclose" value="false">
<param name="pixx:showhelp" value="false">
<param name="pixx:showstatus" value="false">
<param name="command1" value="join #nexusfive">
</applet>

