<form name="form1" method="post" action="show_userinfo.php">
  <table width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr> 
      <td colspan="2" class="navigationBar" > <a href="leap.php">[ Topic Leap 
        ]</a> -- <a href="userson.php">[ Who's Online ]</a></td>
    </tr>
  </table>
  <p>Choose which user to examine from the list below</p>
  <p> 
    <select name="user_id">
		  {SELECT_CODE}
    </select>
  </p>
  <p> 
    <input type="submit" name="Submit" value="Submit">
    &nbsp; <a href="section.php?section_id=1">[ cancel ]</a> </p>
  <table width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr> 
      <td colspan="2" class="navigationBar" > <a href="leap.php">[ Topic Leap 
        ]</a> -- <a href="userson.php">[ Who's Online ]</a></td>
    </tr>
  </table>
</form>
