 <table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tbody>
    <form method="post" action="process_deltopic.php">
    <tr>
      <td width="77%">
      <p>
          <input
 name="section_id" type="hidden" value="{SECTION_ID}">
          <input
 name="topic_id" type="hidden" value="{TOPIC_ID}">
          <br>
          {DESCRIPTION}</p>
        <p> <br>
          <input type="submit" name="submit" value="Delete Topic">
          <a
 href="section.php?section_id={SECTION_ID}">[ Cancel ]</a> </p>
      </td>
      <td width="23%" valign="top" nowrap="nowrap" class="navigationBar" > 
        <p><img
 src="images/crystal/ksysguard.png"  align="top" title="" alt="">
        <p> This topic containts <br>
          {POST} comments.<br>
          <br>
          Really delete ? 
          <input type="checkbox" name="confirm" vaule="yes">
        </p>
      </td>
	  </form>
    </tr>
    <tr>
  </tbody>
</table>
