<html>
<head>
<title> {pagetitle} </title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link href="styles/crystal.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="navigation">{breadcrumbs}</div>
<table align="center" border="0" width="100%" cellpadding="4" cellspacing="0">
  <tr class="titleBar" >
    <td> {pagetitle} </td>
    <td width="0"> 
      <div align="right" class="navigationBar"> </div></td>
  </tr>
  <tr class="navigation">
    <td > <p>User <u>{user_name} ({user_popname})</u> 
        you have {num_msg} <u>messages</u></p></td>
    <td> <div align="right">Moderator <u>{ownername}</u></div></td>
  </tr>
</table>
