  <TABLE width="100%" border=0 cellspacing=1 cellpadding="0">
  <TBODY>
    <form method="post" action="delete_instant_messages.php">
    <!-- <input type=button value="Select All" onclick="this.value=check(this.form.MessCheck[])"> -->

    <!-- BEGIN MessageBlock -->
    <TR>
      <TD width="6%"> <input type="checkbox" name="MessChk[]" value="{message_id}" checked><A href="messages.php?sendtoid={user_id}"><IMG alt="[ send message ]" src="images/crystal/msg.gif" border="0"></A></TD>
      <TD width="9%"><A href="show_userinfo.php?user_id={user_id}">{user_name}</A>&nbsp;</TD>
      <TD width="85%">{message} </TD>

    </TR>
    <!-- END MessageBlock -->

    <TR>
      <TD colspan="3" height="30"><a href="messages.php"><img src="images/crystal/reload.gif"  border="0"> 
          <span class="navigation">Recheck</span></a>&nbsp;<img src="images/crystal/delete_msg.gif" border="0">
        <input type="submit" name="Delete Selected Messages" value="Delete Selected Messages">	</TD>
    </form>
    </TR>
  </TBODY>
</TABLE>
