  <TABLE width="100%" border=0 cellspacing=1 cellpadding="0">
  <TBODY>
    <TR> 
      <TD colspan="3" class="navigationBar"><a href="leap.php">[ 
        Topic Leap ]</a> -- <a href="userson.php">[ Who's Online ]</a> -- <a href="myinfo.php">[ 
        Examine User ]</a></font></TD>
    </TR>
    <!-- BEGIN MessageBlock -->
    <TR> 
      <TD width="3%"><A href="messages.php?sendtoid={user_id}"> <IMG alt="[ reply ]" src="images/xp/msg.gif" border="0"></A></TD>
      <TD width="9%"><A href="show_userinfo.php?user_id={user_id}">{user_name}</A>&nbsp;</TD>
      <TD width="88%">{message} </TD>
    </TR>
    <!-- END MessageBlock -->
    <TR> 
      <TD colspan="3" height="30"><a href="{reload_page}"><img src="images/xp/reload.gif"  border="0"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif"> 
        Recheck</font></a><font size="-1">&nbsp; </font><a href="delete_instant_messages.php"><img src="images/xp/delete_msg.gif" border="0"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif"> 
        </font><font size="-1" face="Verdana, Arial, Helvetica, sans-serif">Delete</font></a></TD>
    </TR>
  </TBODY>
</TABLE>

