<html>
<head>
<title> {pagetitle} </title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link href="styles/crystal.css" rel="stylesheet" type="text/css">
<style type='text/css'>
        @import url("styles/layout.css");
</style>
</head>
<body>
<div class="navigation">{breadcrumbs}</div>
<table align="center" border="0" width="100%" cellpadding="4" cellspacing="0">
  <tr class="titleBar" >
    <td> {pagetitle} </td>
    <td width="0" align="right"> 
<FORM  action="process_search.php" method="POST" enctype="multipart/form-data">
<INPUT type="text" name="search" size="10" maxlength="100" >
<INPUT type="submit" value="Search">
</FORM>
</td>
  </tr>
  <tr class="navigation">
    <td > <p>User
        <a href="show_userinfo.php?user_id={user_id}">{user_name} ({user_popname})</a> 
        you have {num_msg} <a href="messages.php">messages</a> - <a href="logout.php">[ logout ]
<img src="images/crystal/exit.png" border="0" align="top"></a></p></td>
    <td> <div align="right">Moderator 
        <a href="show_userinfo.php?user_id={owner_id}">{ownername}</a></div></td>
  </tr>
</table>
