  <div align="left"> 
  <form method="post" action="addpost.php">
    <br>
    <input type="hidden" name="topic_id" value="{topic_id}">
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr> 
        <td> <p>Subject 
            <input type="text" maxlength="50" name="subject">
            <br>
            <textarea name="comment" cols="55" rows="10" wrap="VIRTUAL"></textarea>
            <br>
          </p>
          <p> 
            <input type="submit" name="submit" value="Add Comment">
            <a href="readtopic.php?section_id={section_id}&topic_id={topic_id}">[ 
            Cancel ]</a> <br>
          </p></td>
        <td valign="top" class="navigationBar" > 
          <p> <img src="images/xp/help.gif" alt="Help Icon" width="32" height="32"> 
            Hints and Tips</p>
          <p>{readonly_hint}You can add <strong>pictures</strong>, formatting 
            and <strong>web links</strong> to your post using these commands.</p>
          <table width="100%" border="0">
            <tr> 
              <td nowrap> <p>[PICTURE-]<em> address </em>[-PICTURE]</p>
                <p>[WWW-] <em>address</em> [-WWW]</p>
		        <p>[I-] <em>text</em> [-I]</p> 
		        <p>[B-] <em>text</em> [-B]</p> 
                <p>[ASCII-] <em>ascii art</em> [-ASCII]</p></td>
            </tr>
          </table>
          <p>
          <p>&nbsp;</p></td>
      </tr>
    </table>
    <table  align="center" border="0" width="100%" cellpadding="4" cellspacing="0">
      <tbody>
        <tr> 
          <td class="titleBar"> {reply text} </td>
        </tr>
      </tbody>
    </table>
    <br>
  </form></div>
