  
<table border="0" width="100%">
  <tr>
        
    <td colspan="4" class="navigationBar" ><a
        href="section.php?section_id={section_id}">[ return to section ]</a> -- <a
        href="section.php?section_id=1">[ return to the main menu ]</a></td>
    </tr>
</table>
<div align="left">

<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
        <td colspan="4">{messages}</td>
    </tr>
    <tr>
        
    <td colspan="4" class="navigationBar" ><a
        href="section.php?section_id={section_id}">[ return to section ]</a> -- <a
        href="section.php?section_id=1">[ return to the main menu ]</a></td>
    </tr>
</table>
