  
<table border="0" width="100%">
  <tr>
        
    <td colspan="4" bgcolor="#d6dff5" class="navigationBar"><a
        href="section.php?section={section_id}">[ return to section ]</a> -- <a
        href="section.php?section_id=1">[ return to the main menu ]</a> -- <a
        href="post.php?topic_id={topic_id}">[ add a comment ]</a>&nbsp; </td>
    </tr>
</table>
<div align="left">

<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
        
    <td width="1" nowrap><b><img
        src="images/xp/go-back.gif" alt="view earlier messages"
        width="20" height="20"></b>&nbsp; </td>
        
    <td colspan="3"><b><img
        src="images/xp/go-forward.gif" alt="view more messages"
        align="right" hspace="0" width="20" height="20"></b>&nbsp; </td>
    </tr>
    <tr>
        <td colspan="4">{messages}</td>
    </tr>
    <tr>
        
    <td valign="top" width="1" nowrap><b><img
        src="images/xp/go-back.gif" alt="view earlier messages"
        width="20" height="20"></b>&nbsp; </td>
        
    <td valign="top" colspan="3"><b><img
        src="images/xp/go-forward.gif" alt="view more messages"
        align="right" hspace="0" width="20" height="20"></b>&nbsp; </td>
    </tr>
    
  <tr bgcolor="#d6dff5"> 
    <td colspan="4" class="navigationBar"><a
        href="section.php?section={section_id}">[ return to section ]</a> -- <a
        href="section.php?section_id=1">[ return to the main menu ]</a> -- <a
        href="post.php?topic_id={topic_id}">[ add a comment ]</a></td>
    </tr>
</table>
