<head>
 
</head>



<table width="100%">
  <tr> 
    <td   class="navigationBar"> <a href="leap.php">[ Topic Leap 
      ]</a> -- <a href="section.php?section_id=1">[ Main Menu ]</a> -- <a href="myinfo.php">[ 
      Examine User ]</a> </td>
  </tr>
</table>
<p>Here are the nexus statistics from the last 30 days.&nbsp;&nbsp;</p>
<div align="center">
  <center>
  <table border="0" width="100%" height="261">
    <tr>
      <td width="50%" height="130" valign="top">
<p><b>Most Active Users</b></p>
<div align="center">
          <center>
              <TABLE border=0 cellspacing=0>
                <TBODY>
                  <TR  class="navigationBar"> 
                    <TD align="center"> 
                      <p align="center"><b>User</b></p>
      </TD>
                    <TD align="center"> 
                      <p align="center"><b>Score</b></p>
      </TD>
    </TR>
    <!-- BEGIN PosterBlock -->
    <TR> 
      <TD align="center"> 
        <p align="center"> <A href="show_userinfo.php?user_id={user_id}">{user_name}</A></p>
      </TD>
      <TD align="center" > 
        <p align="center">{user_score}</p>
 </TD>
    </TR>
    <!-- END PosterBlock -->
  </TBODY>
</TABLE>
  
          </center>
        </div>
        <p>&nbsp;</td>
      <td width="50%" height="130" valign="top">
<p><b>Most Popular Topics</b></p>
        <div align="center">
          <center>
              <TABLE border=0 cellspacing=0>
                <TBODY>
                  <TR  class="navigationBar"> 
                    <TD align="center"><b>Topic</b></TD>
                    <TD align="center"><b>Score</b></TD>
    </TR>
    <!-- BEGIN TopicBlock -->
    <TR> 
                    <TD align="center"><A href="readtopic.php?topic_id={topic_id}">{topic_name}</A></TD>
                    <TD align="center" > {topic_score} </TD>
    </TR>
   <!-- END TopicBlock -->

  </TBODY>
</TABLE>
          </center>
        </div>
        <p>&nbsp;</td>
    </tr>
    <tr>
      <td width="50%" height="131" valign="top"><p><b>Most Popular Sections</b></p>
        <div align="center">
          <center>
              <TABLE border=0 cellspacing=0>
                <TBODY>
                  <TR  class="navigationBar"> 
                    <TD align="center"><b>Section</b></TD>
                    <TD align="center"><b>Score</b></TD>
    </TR>
    <!-- BEGIN SectionBlock -->
    <TR> 
                    <TD align="center"><A href="section.php?section_id={section_id}">{section_name}</A></TD>
                    <TD align="center" > {section_score} </TD>
    </TR>
    <!-- END SectionBlock -->
  </TBODY>
</TABLE>
          </center>
        </div>
        <p>&nbsp;</td>
      <td width="50%" height="131" valign="top"><p><b>Most Successful Moderators</b></p>
        <div align="center">
          <center>
              <TABLE border=0 cellspacing=0>
                <TBODY>
                  <TR  class="navigationBar"> 
                    <TD align="center"><b>User</b></TD>
                    <TD align="center"><b>Score</b></TD>
    </TR>
    <!-- BEGIN ModBlock -->
    <TR> 
                    <TD align="center"><A href="show_userinfo.php?user_id={mod_id}">{mod_name}</A></TD>
                    <TD align="center" > {mod_score} </TD>
    </TR>
   <!-- END ModBlock -->

  </TBODY>
</TABLE>
          </center>
        </div>
        <p>&nbsp;</td>
    </tr>
  </table>
  </center>
</div>
<table width="100%">
  <tr>
    <td   class="navigationBar"> <a href="leap.php">[ Topic Leap 
      ]</a> -- <a href="section.php?section_id=1">[ Main Menu ]</a> -- <a href="myinfo.php">[ 
      Examine User ]</a> </td>

</tr>
</table>


