<td>
<table width="100%"  border="0">
  <tr>
    <td width="5%" valign="top"><a href="section.php?section_id={section_id}"><img src="images/crystal/folder-normal.gif" border="0"></a></td>
    <td width="95%"><a href="section.php?section_id={section_id}"><span class="sectionTitle">{section_title}</span></a><br>
      <span class="sectionIntro">{section_intro}</span><br>
      <span class="navigation"><a href="altersection.php?section_id={section_id}">[ edit ]</a> <a href="delsection.php?section_id={section_id}">[ delete ]</a></span> <span class="sectionMessages">{messages} messages</span></td>
  </tr>
</table>
</td>
