      
<TABLE width="100%" border=0 cellspacing=1 cellpadding="1">
  <TBODY>
    <TR>
      <TD>  
        <form name="form1" method="post" action="send_instant_message.php">
          <select name="user_id">
		{select_code}
		  </select>
          <input name="message" type="text" size="80" maxlength="200">
          <input type="submit" name="Submit" value="Send">
        </form></TD>
    </TR>
    <TR >
      <TD class="navigationBar"><a href="leap.php">[ Topic Leap ]</a> -- <a href="userson.php">[ 
        Who's Online ]</a> -- <a href="myinfo.php">[ Examine User ]</a></TD>
    </TR>
  </TBODY>
</TABLE>

