<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <title>Time Out</title>
  <meta http-equiv="Content-Type"
 content="text/html; charset=iso-8859-1">
 <META 
     HTTP-EQUIV="Refresh"
     CONTENT="5; URL={REDIRECT_URL}">
</head>
<body bgcolor="#ffffff" text="#000000" link="#0000cc" vlink="#0000cc"
 alink="#0000cc">
<font face="Verdana, Arial, Helvetica, sans-serif"> 
<table bgcolor="#d6dff5" align="center" border="0" width="100%"
 cellpadding="4" cellspacing="0">
  <tbody>
    <tr> 
      <td> <font size="+2" color="#000000"
 face="Verdana, Arial, Helvetica, sans-serif"> Time Out</font> </td>
    </tr>
  </tbody>
</table>
</font>
<p><font face="Verdana, Arial, Helvetica, sans-serif"><br>
  I'm sorry, nexus has encounted a problem and you'll need to relogin to continue. 
  </font></p>
<p><font face="Verdana, Arial, Helvetica, sans-serif">This often happens if have 
  taken a break and not done anything on nexus for the last few minutes.</font> 
</p>
<p><font face="Verdana, Arial, Helvetica, sans-serif">[ <a href="{REDIRECT_URL}">Restart Nexus</a> 
  ] </font></p>
</body>
</html>
