<table width="100%"><tbody><tr>
      <td>
  	  <a href="readtopic.php?section_id={SECTION_ID}&topic_id={TOPIC_ID}"><img src="images/crystal/star.gif" alt="*" border="0"><b>{TOPICTITLE}</b><img src="images/crystal/star.gif" alt="*" border="0"></a>
          	  <blockquote>
		  {TOPIC_TEXT}
		  <br><div class="navigation"><a href="altertopic.php?topic_id={TOPIC_ID}">[ edit ]</a> -- <a href="deltopic.php?topic_id={TOPIC_ID}">[ delete ]</a> -- <a href="unsub.php?section_id={SECTION_ID}&topic_id={TOPIC_ID}">[ unsubscribe ]</a></div>
		  </blockquote>
</td></tr>
</tbody></table>
