  {num_of_users} currently using <b>{bbs_name}</b>
<DIV align=center>
<CENTER>
      
    <TABLE width="100%" border=0 cellspacing=0 cellpadding="0">
      <TBODY> 
        <TR class="navigationBar" > 
          <TD width="1%">&nbsp;</TD>
			
          <TD>User</TD>
			
          <TD>Motto</TD>
			
          <TD>Location</TD>
			
          <TD>Idle Time</TD>
        </TR>
		  <!-- BEGIN UserBlock -->
		  <TR class="userlistItem">
		  <TD width="1%"><A href="messages.php?sendtoid={user_id}">
		  <IMG alt="[ send message ]" src="images/crystal/msg.gif" border="0"></A></TD>
	          <TD><A href="show_userinfo.php?user_id={user_id}">{user_name}</A></TD>
		  <TD>&nbsp;{user_popname}</TD>
	          <TD>&nbsp;{user_location}</TD>
	          <TD>&nbsp;{user_idle} </TD></TR>
		  <!-- END UserBlock -->
		  
	</TBODY></TABLE></center></DIV>
<a href="userson.php"><img src="images/crystal/reload.gif"  border="0"><span class="navigation"> Update</span></a><span class="navigation">&nbsp;</span><BR>


