/vendor
/node_modules
Homestead.yaml
.env
/public/mix.*.js
/public/css/*
/public/js/*
/public/fonts/*
/storage/debugbar/
.DS_Store
.idea/
/extra.scss
/extra.scss.map
/untracked
nexus.sublime*
composer.lock
.vscode/*
/coverage
yarn-error.log
.phpunit.result.cache
.env.testing