/vendor
/node_modules
Homestead.yaml
.env
/public/css/*
/public/js/*
/public/fonts/*
/storage/debugbar/
.DS_Store
.idea/
/extra.scss
/extra.scss.map
/untracked
nexus.sublime*
composer.lock
package-lock.json
yarn.lock
public/mix-manifest.json
