// Typography
@import url('https://fonts.googleapis.com/css?family=Arvo|Creepster&display=swap');

$headings-font-family: 'Creepster', cursive;
$font-family-sans-serif: 'Arvo', serif;

// $font-size-base: 0.9rem;
// $line-height-base: 1.6;

// colours
$black: #000;
$body-bg: $black;
$blue: rgb(0, 151, 242);

$green: rgb(9, 255, 0);
$orange: rgba(255, 154, 0);
$purple: rgba(201, 0, 255);

$body-color: $green;
$headings-color: $orange;

$hr-border-color: rgb(0, 87, 140);

$mark-bg: $black;
$card-bg: $black;


// $card-border-color: rgba(51, 122,183, 100);
// $border-width: 5px;
// $border-radius: 0.8rem;

$breadcrumb-bg: $black;
$info: $orange;


// custom

.card-header.bg-primary {
    background-color: $purple !important;
}

// mobile bottom nav
#footer-navigation .fixed-bottom {
    background-color: $black !important;
    border-top-style: solid;
    border-top-color: $orange;
    border-top-width: 2px;

}

// toolbar
#top-toolbar {
  border-bottom-color: $orange !important;
}

#top-toolbar .navbar {
  background-color: $black !important;
  color: $orange;

  * {
    color: $orange;
  }

  .navbar-toggler-icon {
    background-color: $orange;
  }
    
}

.user-comments  {
  .comment {
    background-color: $black;
    color: $green;
  }
}