// hotdog
$red: #ff0102;
$yellow: #ffff00;
$black: #000000;
$gray: #c6c6c6;
$white:  #ffffff;


$theme-colors: (
  "primary":    $black,
  "secondary":  black,
  "success":    black,
  "info":       black,
  "warning":    black,
  "danger":     black,
  "light":      black,
  "dark":       black
);

// body
$body-bg: $red;
$body-color: $black;

// cards
$card-bg: $yellow;
$card-cap-bg: $red;

$card-border-width: 0.5rem;
$card-border-color: $black;

// card footer
$card-cap-bg: $gray;

// buttons



// Typography
$headings-font-family: 'VT323', monospace;
$font-family-sans-serif: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$text-muted: $black;


/*
gray
black
white
red
yellow

title bar 
    - active white on black
    - inactive whte on red

menu
    - background white
    - text black
    - highlighed white on black


*/

// Colors
$teal: #4dc0b5;
$orange: #f6993f;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;

// muted colours from BS3
$blue:  #3097D1;
// $red: #bf5329;
// $yellow: #cbb956;
$green: #2ab27b;
$cyan: #8eb4cb;
