$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Headings
$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base * 1;

$headings-font-family: $font-family-sans-serif;
$headings-font-weight: 600;
