// Body
$body-bg: #f5f8fa;
$body-color: #636b6f;

// Typography
$font-family-sans-serif: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-size-base: 0.9rem;
$line-height-base: 1.6;


// Colors
$teal: #4dc0b5;
$orange: #f6993f;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;

// muted colours from BS3
$blue:  #3097D1;
$red: #bf5329;
$yellow: #cbb956;
$green: #2ab27b;
$cyan: #8eb4cb;
