@use "sass:color";

// Festive colours
$festive-pink:          #F5624D;
$festive-red:           #CC231E;
$festive-green:         #34A65F;
$festive-dark-green:    #0F8A5F;
$festive-blue:          #235E6F;


$body-bg:       color.adjust($festive-green,    $alpha: -0.9);
$body-color:    color.adjust($festive-red,      $alpha: -0.1);

// Typography
$font-family-sans-serif: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$headings-font-family: 'Mountains of Christmas', cursive;


$theme-colors: (
  "primary":    $festive-dark-green,
  "secondary":  $festive-blue,
  "success":    $festive-green,
  "info":       $festive-pink,
  "warning":    $festive-green,
  "danger":     $festive-red,
  "light":      color.adjust($festive-green, $alpha: -0.9),
  "dark":       $festive-dark-green,
);

// toolbar
#top-toolbar {
    // border-bottom-color: $orange !important;
  }
  
  #top-toolbar .navbar {
    background-color: $festive-red !important;
    color: $festive-green;
  
    * {
      color: $festive-green;
    }
  
    .navbar-toggler-icon {
      background-color: $festive-green;
    }
      
  }
