/* ------ */
/* extras */
/* ------ */

// Open Iconic icon font

// Import Bootstrap mixins and variables
@import 'bootstrap/scss/bootstrap';
@import 'bootstrap/scss/_functions';
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";

$body-color: #f5f8fa !default;

/* hero icons */

.icon_large {  
  width: 3rem;
  height: 3rem;
}

.icon_medium {
  width: 2rem;
  height: 2rem;
}

.icon_small {

}

.icon_mini {
  width: 1rem;
  height: 1rem;
}

/* blockquote */
blockquote {
  padding: 0.6rem 1.2rem;
  margin: 0 0 1.2rem;
  border-left: 0.4rem solid $body-color;
}
/* jump menu */
@media (min-width: 768px) {
  #navigationApp .dropdown-item {
    min-width: 20rem;
  }
}

/* hide cloaked vue components */
[v-cloak] {
  display: none;
}

/* spoiler text */
.spoiler {
  background: black;
  color: black;
}

/* youtube embed */

.video-wrapper {
  display: block;
  width: 100%;
  padding-bottom: 56.25%;
  overflow: hidden;
  position: relative;
}

#youtube-player {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* to fix overly large images used in topic intros */
img {
  max-width: 100%;
}

/* make overly long words break */
.break-long-words {
  -ms-word-break: break-all;
  word-break: break-all;

  /* Non standard for webkit */
  word-break: break-word;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

/* stop ios zooming into form inputs on small screens */
$screen-sm-min: 768px !default;
@media (max-width: $screen-sm-min) {
  textarea.form-control,
  input.form-control {
    font-size: 16px;
  }
}

// mobile footer navigation
$footer-navigation-space: 4rem;
$footer-navigation-space-lg: 0;

.footer-navigation-spacer {
  height: $footer-navigation-space;
}

@include media-breakpoint-up(lg) {
  .footer-navigation-spacer {
    height: $footer-navigation-space-lg;
  }
}


/* chat UI */
.msg_author {
  background-color: #28a745;
  color: #fff;
  border-radius: 50px;
  border-bottom-right-radius: 0;
}

.msg_receiver {
  background-color: #007bff;
  color: #fff;
  border-radius: 50px;
  border-bottom-left-radius: 0;
}