/* ------ */
/* extras */
/* ------ */

// Open Iconic icon font
@import "~open-iconic/font/css/open-iconic-bootstrap.scss";

// Import Bootstrap mixins and variables
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/_breakpoints";

$body-color: #f5f8fa !default;

/* blockquote */
blockquote {
  padding: 0.6rem 1.2rem;
  margin: 0 0 1.2rem;
  border-left: 0.4rem solid $body-color;
}
/* jump menu */
@media (min-width: 768px) {
  #navigationApp .dropdown-item {
    min-width: 20rem;
  }
}

/* hide cloaked vue components */
[v-cloak] {
  display: none;
}

/* spoiler text */
.spoiler {
  background: black;
  color: black;
}

/* youtube embed */

.video-wrapper {
  display: block;
  width: 100%;
  padding-bottom: 56.25%;
  overflow: hidden;
  position: relative;
}

#youtube-player {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* lazy loading */
.b-lazy {
  &.b-error {
    filter: blur(2px) grayscale(100);
    opacity: 0.1;
    transform: rotate(-10deg);
    transition: 0.3s ease-in-out;
  }
}

/* to fix overly large images used in topic intros */
img {
  max-width: 100%;
}

/* make overly long words break */
.break-long-words {
  -ms-word-break: break-all;
  word-break: break-all;

  /* Non standard for webkit */
  word-break: break-word;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

/* stop ios zooming into form inputs on small screens */
$screen-sm-min: 768px !default;
@media (max-width: $screen-sm-min) {
  textarea.form-control,
  input.form-control {
    font-size: 16px;
  }
}

/* chat */

/*
layout is like...
.chat-container
    .chat-wrapper
        .chat-content #chat-content
            .chat-conversation 
        .chat-post        


 - TODO ipads
*/

$chat-wrapper-height: 53vh;
$chat-post-height: 8rem;

.chat-message {
  border-left-width: 1rem;
}
.chat-wrapper {
  height: $chat-wrapper-height; /* or position:absolute; height:100%; */
}

.chat-post {
  height: $chat-post-height;
  padding: 1rem;
}

.chat-conversation {
  min-height: calc(#{$chat-wrapper-height} - #{$chat-post-height});
  //   padding: 20px;
}

@include media-breakpoint-up(md) {
  $chat-wrapper-height-md: 75vh;
  $chat-post-height-md: 8rem;

  //   .chat-container {
  //   }

  .chat-post {
    height: $chat-post-height-md;
    padding: 1rem;
  }

  .chat-wrapper {
    height: $chat-wrapper-height-md; /* or position:absolute; height:100%; */
  }

  .chat-conversation {
    min-height: calc(#{$chat-wrapper-height-md} - #{$chat-post-height-md});
    // padding: 20px;
  }
}

.chat-content {
  flex: 1;
  overflow: auto;
}

.chat-wrapper {
  display: flex;
  flex: 1;
  min-height: 0px; /* IMPORTANT: you need this for non-chrome browsers */
}
