/* ------ */
/* extras */
/* ------ */

// Import Bootstrap mixins and variables
@import 'bootstrap/scss/bootstrap';
@import 'bootstrap/scss/_functions';
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";

$body-color: #f5f8fa !default;
/* blockquote */
blockquote {
  padding: 0.6rem 1.2rem;
  margin: 0 0 1.2rem;
  border-left: 0.4rem solid $body-color;
}
/* jump menu */
@media (min-width: 768px) {
  #navigationApp .dropdown-item {
    min-width: 20rem;
  }
}




/* stop ios zooming into form inputs on small screens */
$screen-sm-min: 768px !default;
@media (max-width: $screen-sm-min) {
  textarea.form-control,
  input.form-control {
    font-size: 16px;
  }
}

// mobile footer navigation
$footer-navigation-space: 4rem;
$footer-navigation-space-lg: 0;

.footer-navigation-spacer {
  height: $footer-navigation-space;
}

@include media-breakpoint-up(lg) {
  .footer-navigation-spacer {
    height: $footer-navigation-space-lg;
  }
}


