body {
	font-family: sans-serif;
	color: #006600;
	background-color: #FFFFFF;

}

.navigationBar {
	#font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #cc0033;
	color: #ffffff;
	font-size: 80%
}

.navigationBar a:link {
	color: #ffffff;
	text-decoration: underline bold;
}

.navigationBar a:visited {
	color: #ffffff;
	text-decoration: underline bold ;
}
.navigationBar a:hover {
	color: #ffffff;
	text-decoration: underline bold;

}

.titleBar {

	font-family: sans-serif;
	background-color: #cc0033;
	color: #ffffff;
	font-size: 150%

}
.titleBarMail {


	font-family: sans-serif;
	background-color: #006600;
	color: #ffffff;
	font-size: 150%
}

.navigation {
	font-size: 80%
}



a:link {
	color: #cc0033;
	text-decoration: none;
}

a:visited {
	color: #cc0033;
	text-decoration: none;
}

a:hover {
	color: #cc0033;
	text-decoration: underline;

}

a:active {
	color: #cc0033;
	text-decoration: bold;
}

