@tailwind base;
@tailwind components;
@tailwind utilities;

/* chat UI */
.chat-sidebar {
    border-right: 1px solid #dee2e6;
}
.contacts_body {
    padding: 0.75rem 0 !important;
    overflow-y: auto;
    white-space: nowrap;
}
.msg_card_body {
    overflow-y: auto;
}
.card-header {
    border-radius: 15px 15px 0 0 !important;
    border-bottom: 0 !important;
}
.card-footer {
    border-radius: 0 0 15px 15px !important;
    border-top: 0 !important;
}
.container {
    align-content: center;
}
.contacts li {
    width: 100% !important;
    padding: 5px 10px;
    margin-bottom: 15px !important;
}
.active {
    background-color: rgba(0, 123, 255, 0.3);
}
.user_img {
    height: 50px;
    width: 50px;
    border: 1.5px solid #f5f6fa;
}
.user_img_msg {
    height: 40px;
    width: 40px;
    border: 1.5px solid #f5f6fa;
}
.img_cont {
    position: relative;
    height: 50px;
    width: 50px;
}
.img_cont_msg {
    height: 40px;
    width: 40px;
}
.online_icon {
    position: absolute;
    height: 12px;
    width: 12px;
    background-color: #4cd137;
    border-radius: 50%;
    bottom: 2px;
    right: 2px;
    border: 1.5px solid white;
}
.user_info {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
}
.user_info span {
    font-size: 18px;
    color: #464646;
}
.user_info p {
    font-size: 10px;
    color: rgba(0, 0, 0, 0.6);
}
.msg_cotainer {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    border-radius: 25px;
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    position: relative;
}
.msg_cotainer_send {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    border-radius: 25px;
    background-color: #28a745;
    color: #fff;
    padding: 10px;
    position: relative;
}
.msg_time {
    position: absolute;
    left: 0;
    bottom: -15px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 10px;
}
.msg_time_send {
    position: absolute;
    right: 0;
    bottom: -15px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 10px;
}
.msg_head {
    position: relative;
}