// Bootstrap theme 
// based on the zx spectrum and friends
// cfcable

// Fonts
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

// Variables
$black:     #000000;
$blue:      #0000D7;
$red:       #D70000;
$magenta:   #D700D7;
$green:     #00D700;
$cyan:      #00D7D7;
$yellow:    #D7D700;
$white:     #D7D7D7;

$bright-black:  #000000;
$bright-blue:   #0000FF;
$bright-red:    #FF0000;
$bright-magenta:#FF00FF;
$bright-green:  #00FF00;
$bright-cyan:   #00FFFF;
$bright-yellow: #FFFF00;
$bright-white:  #FFFFFF;

// Body
$body-bg: $cyan;
// Borders
$laravel-border-color: darken($body-bg, 10%);
// $list-group-border: $laravel-border-color;
// $navbar-default-border: $laravel-border-color;
// $panel-default-border: $laravel-border-color;
// $panel-inner-border: $laravel-border-color;
$list-group-border: $white;
$navbar-default-border: $white;
$panel-default-border: $white;
$panel-inner-border: $white;

// Brands
$brand-primary: $bright-blue;
$brand-info:    $magenta;
$brand-success: $green;
$brand-warning: $yellow;
$brand-danger:  $red;


// border radius
$border-radius-base:    0;
$border-radius-large:   0;
$border-radius-small:   0;
// Typography
// $font-family-sans-serif: "Raleway", sans-serif;

// $font-family-sans-serif: 'VT323',monospace;
$font-family-sans-serif: 'Press Start 2P',monospace;
$font-family-monospace: $font-family-sans-serif;
$font-size-base: 12px;
$line-height-base: 1.6;
$text-color: $black;


// Navbar
$navbar-default-bg: $bright-white;
// Buttons
$btn-default-color: $text-color;
// Inputs
// $input-border: lighten($text-color, 40%);
// $input-border-focus: lighten($brand-primary, 25%);
$input-border: $white;
$input-border-focus: $white;
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-bg: $white;
$panel-default-heading-bg: $white;

$panel-primary-heading-bg: $brand-primary;
$panel-primary-border: $panel-primary-heading-bg;

$panel-success-heading-bg: $brand-success;
$panel-success-border: $panel-success-heading-bg;

$panel-warning-heading-bg: $brand-warning;
$panel-warning-border: $panel-warning-heading-bg;

$panel-danger-heading-bg: $brand-danger;
$panel-danger-border: $panel-danger-heading-bg;


// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// extras
@import "extra.scss";


// remove glyphicons because they look too modern
.glyphicon {
    font-family: $font-family-sans-serif;
}

// topics
.glyphicon-comment:before {
    content: "[-] ";
}

.glyphicon-fire:before {
    content: "[*] ";
}

.glyphicon-home:before {
    content: "[H] ";
}

.glyphicon-menu-hamburger:before {
    content: "[+] ";
}

.glyphicon-cog:before {
    content: "[=] ";
}

.glyphicon-envelope:before {
    content: "[v]";
}

.glyphicon-plus-sign:before {
    content: " + ";
}

// widgets
.glyphicon-chevron-down:before {
    content: " v ";
}

.glyphicon-chevron-up:before {
    content: " ^ ";
}

.glyphicon-pencil:before {
    content: "";
}

.glyphicon-trash:before {
    content: "";
}

.glyphicon-user:before {
    content: "\\o/";
}

.glyphicon-open:before {
    content: "";
}

.glyphicon-log-out:before {
    content: "";
}

.glyphicon-save:before {
    content: ">";
}

.glyphicon-eye-close:before {
    content: ">- -<";
}

.glyphicon-eye-open:before {
    content: "( o)( o)";
}

// mobile nav
.glyphicon-circle-arrow-right:before {
    content: "->";
}

.glyphicon-time:before {
    content: "[*]";
}




#users-list {
    h2 {
        border-radius: 0;
        width: 1.5em;
        height: 1.5em;
        text-align: center;
        // opacity: 0.25;
        span {
            color: $white;
            line-height: 1.5em;
        }
    }
    .bg-info {
        background-color: $magenta;
    }
    .user-panel {
        a:hover {
            text-decoration: none;
        }
    }
}