/* Footer Navigation */
#footer-navigation {

    height: auto;

    .oi {
      font-size: x-large;
    }

    a {
      display: block;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }
  

