/* ------ */
/* extras */
/* ------ */

/* added by laravel */
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

/* blockquote */

blockquote {
    padding: 0.6rem 1.2rem;
    margin: 0 0 1.2rem;
    border-left: 0.4rem solid $body-bg
}



/* hide cloaked vue components */
[v-cloak] {
  display: none;
}

/* spoiler text */
.spoiler {
  background: black;
  color: black;
}

/* youtube embed */

.video-wrapper {
  display: block;
  width: 100%;
  padding-bottom: 56.25%;
  overflow: hidden;
  position: relative;
}

#youtube-player {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left:0;
}

/* lazy loading */
.b-lazy {
  &.b-error {
   filter: blur(2px) grayscale(100);
   opacity: 0.1;
   transform: rotate(-10deg);
   transition: .3s ease-in-out;
  }
}

/* to fix overly large images used in topic intros */
img {
  max-width: 100%;
}

/* make overly long words break */
.break-long-words {
  -ms-word-break: break-all;
  word-break: break-all;
  
  /* Non standard for webkit */
  word-break: break-word;
  
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}