h1 {
  color: #00A620;
}
body {
  color: #333;
  background-color: #000;
}

.navbar-default {
  background-color: #f2700A6;
  border-color: #2700A6;
}

.panel {
  background-color: #000000;
  border: none;
  border-color: #fff;
  border-top: solid;
  color: #A8A8A8;
}

.breadcrumb {
  background-color: #000000;
}

.panel-primary {
  border-color: #2700A6;

}
.panel-primary>.panel-heading {
  color: #fff;
  background-color: #2700A6;
  border-color: #2700A6;
}

.panel-primary>.panel-heading h3{
   color: #FFFE56;
}


/*

Nexus2

Error:                  #AF0005
Highlight:              #FFFE56
Toolbar Background:     #2700A6
Green:                  #00A620
Bold text               #FFFFFF
Text:                   #A8A8A8
Scrollbar Background:   #555555

*/